* {padding: 0;margin: 0;box-sizing: border-box;}
body {background-color: #101010;}
.container {width: 1200px; margin: 100px auto;}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    background: #2b2b2b;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;
}
.btn:hover {
    color: rgba(255, 255, 255, 1);
}
/* ============================ btn 1 ============================== */
.btn1 span {
    display: block;
    position: absolute;
    background: #2894ff;
}
.btn1 span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.btn1:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.btn1 span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.btn1:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.btn1 span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}
.btn1:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}
.btn1 span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}
.btn1:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}
/* ============================ btn 1 ============================== */


/* ============================ btn 2 ============================== */
.btn2 {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    background-color: #fff;
    color: #777;
}
.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn2::after {
    background-color: #fff;
}
.btn2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn2 {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
/* @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */
/* ============================ btn 2 ============================== */

/* ============================ btn 3 ============================== */
.btn3 {
    border-color: #2894ff;
    border-radius: 0;
    color: #2894ff;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
  }
  .btn3:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #2894ff;
    z-index: -1;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .btn3:hover {
    color: #fff;
  }
  .btn3:hover:after {
    width: 110%;
  }
/* ============================ btn 3 ============================== */


/* ============================ btn 4 ============================== */
.btn4{
    border: 1px solid #2894ff;
    padding: 15px;
    position: relative;
    color: #fff;
    cursor: pointer;
}
.btn4:hover {
    color: #fff;
}
.btn4:hover:after, .btn:active:after {
    width: 100%;
    right: auto;
    left: 0;
}
.btn4:after {
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background: #2894ff;
}
.btn4:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* ============================ btn 4 ============================== */


/* ============================ btn 5 ============================== */

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.btn5 {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #2194E0;;
  border: 2px solid #2194E0;;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.btn5:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.btn5:hover {
    background-color: #2194E0;;
    color: #fff;
    border-bottom: 4px solid darken(#2194E0, 10%);
}
.btn5:hover::before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
}
/* ============================ btn 5 ============================== */






/* ============================ link ============================== */
.link {
    position: relative;
    padding: 10px 0;
    color: #fff;
    padding-bottom: 10px;
    text-decoration: none;
    margin: 0 15px;
  }
  .link::after,
  .link::before {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
  }
  .link::after {
    bottom: -10px;
    opacity: 0;
    transition: .3s;
  }
  .link:hover::after {
    opacity: 1;
    bottom: 0;
  }
  .link::before {
    bottom: -15px;
    opacity: 0;
    transition: 0.8s;
  }
  .link:hover::before {
    opacity: 0.7;
    bottom: 0;
  }
/* ============================ link ============================== */